### WordPress ###
wp-config.php

/mhdent/wp-content/uploads/
/mhdent/wp-content/languages/
/mhdent/wp-content/upgrade/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

node_modules/

.idea
.env
