@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }

  .topbar__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .topbar__logo-mob {
    padding: .5rem 1rem;
    img {
      height: 3rem;
      width: auto;
    }
  }

  .header__container {
    padding: .5rem 1rem;
    justify-content: space-between;
  }

  .mob_show {
    display: block;
  }

  .mob_hide {
    display: none;
  }

  .topbar__item .btn-style-1 {
    padding: .5rem;
  }

  .topbar__menu-mob {
    position: absolute;
    top: .5rem;
    right: 0;
    color: #ffffff;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
  }

  .menu__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #ffffff;
    z-index: 10;
    height: 100%;
    .header__container {
      justify-content: center;
      height: 100%;
    }
    .menu__list {
      width: 100%;
    }
    ul {
      li {
        display: block;
        text-align: center;
      }
    }
  }

  .menu__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    z-index: 11;
    i {
      font-size: 1.5rem;
      color: $main-dark;

    }
  }

  .head__welcome-image-mob {
    width: 100%;
    padding: 7rem 1rem 1rem;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  .head__welcome-bg {
    background-color: #eef2f3;
    background-image: none !important;
  }

  .head__welcome-content {
    padding: 2rem 1rem;
      width: 100%;
  }

  .main__slider-item-image::before {
    padding-bottom: 120%;
  }

  .main-section-title {
    font-size: 2rem;
  }

  .contacts__info-content {
    text-align: center;
  }

  .card__row-box {
    flex-direction: column;
  }

  .card__row-thumbnail {
    width: 100%;
    margin: 0 0 1rem;
  }

  .menu__list ul li {
    padding: 0 0 1rem;
  }

  .working-hours__table-mob-right-arrow {
    padding: 1rem 0;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    i {
      margin-left: .5rem;
    }
  }

}

@media screen and (max-width: 450px) {

  .section__container {
    padding: 1rem;
  }

  .main-section-title-wrapper {
    margin: 1rem 0;
  }

  .service__archive-wrapper {
    padding: 1rem 0;
  }

  .topbar__text {
    display: none;
  }

  .topbar__menu-mob {
    top: 1rem;
    font-size: 1.5rem;
  }

  .main__slider-item-image::after {
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
  }

  .main__slider-item-content-title {
    font-size: 1.5rem;
    width: 100%;
  }

  .main__slider-item-content-subtitle {
    font-size: 1rem;
    width: 100%;
  }

  .main__slider-item-content {
    width: 100%;
    padding: 0 3rem;
  }

  .topbar__logo-mob {
    width: 80%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .services__price-table {
    padding: 1rem;
    table {
      tbody {
        tr{
          td{
            font-size: .7rem;
            padding: .5rem 0;
          }
          .services__table-subtitle {
            left: -1rem;
            .services__table-subtitle-text {
              font-size: .8rem;
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 360px) {
  .services__price-table {
    padding: .7rem;
    table {
      tbody {
        tr{
          td{
            font-size: .6rem;
            padding: .5rem 0;
          }
        }
      }
    }
  }
}
