$main-dark: #314a55;
$main-green: #85ae1b;
$main-red: #d43e3e;
$text-grey: #666666;
$light-blue: #eff2f3;
$light-grey: #cccccc;

$box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);

$fa-font-path: "../fonts/webfonts";
