@import "fonts";
@import "variables";
@import "default-editor";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/regular";
@import "fontawesome/brands";

html {
  font-size: 15px;
}

body, html {
  position: relative;
}

html, body, article, span, figure {
  font-family: "PT Sans", sans-serif;
}

p, a, li {
  font-family: "PT Sans", sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Serif", serif !important;
  &::before {
    height: 0;
    margin: 0;
  }
}

p, li {
  color: $main-dark;
  font-size: 1rem;
  line-height: 1.4;
}

main {
  min-height: calc(100vh - 200px);
}

.mob_show {
  display: none;
}

.wp-block-image img {
  height: auto;
}

.topbar__wrapper {
  background-color: $main-dark;
}

.header__container {
  display: flex;
  width: 86%;
  margin: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.section__container {
  position: relative;
  width: 86%;
  margin: auto;
  padding: 2rem 0;
}

.topbar__logo {
  position: absolute;
  top: 0;
  left: 7%;
  width: 15rem;
  z-index: 1;
  img {
    width: 100%;
    height: auto;
  }
}

.phone__link {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-size: 1rem;
    color: #ffffff;
    padding: 0 1.5rem 0 .5rem;
    line-height: 1;
    font-weight: 600;
  }
  i {
    font-size: 1rem;
    color: #ffffff;
  }
}

.topbar__text, .topbar__contact-address {
  font-size: .8rem;
  color: #ffffff;
  line-height: 1.2;
  padding: 0 .5rem;
}

.topbar__contact-address {
  width: 12rem;
}

.btn-style-1 {
  padding: .5rem .7rem .7rem;
  background-color: $main-green;
  color: #ffffff;
  line-height: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all .3s;
  &:hover {
    background-color: #ffffff;
    color: $main-green;
  }
}

.topbar__item .btn {
  margin-left: 1rem;
}

.menu__wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.menu__list {
  max-width: 80%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 .5rem .5rem;
      a {
        font-size: 1rem;
        text-transform: uppercase;
        color: $main-dark;
        transition: color .3s;
        line-height: 1;
      }
      a:hover {
        color: $main-red;
      }
      &.current-menu-item a {
        color: $main-red;
      }
      a img {
        vertical-align: baseline;
      }
    }
  }
}

.main__slider-container {
  margin-bottom: 2rem;
}

.main__slider-item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.main__slider-item-image {
  position: relative;
  display: block;
  width: 100%;
  &::before {
    content: '';
    display: block;
    padding-bottom: 30%;
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
  }
}

.main__slider-item-content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main__slider-arrow {
  position: absolute;
  top: 50%;
  margin-top: -.5rem;
  z-index: 1;
  cursor: pointer;
  i {
    color: $main-dark;
  }
}

.main__slider-arrow-prev {
  left: 1rem;
}

.main__slider-arrow-next {
  right: 1rem;
}

.main__slider-item-content {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 86%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main__slider-item-content-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: PT Serif, serif;
  margin-bottom: 1rem;
  width: 50%;
  color: $main-dark;
}

.main__slider-item-content-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 50%;
  color: $main-dark;
}

.head__welcome-container {
  height: 100%;
}

.head__welcome-bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.head__welcome-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 8rem 2rem 2rem;
  z-index: 1;
  h2 {
    font-size: 2rem;
    color: $main-dark;
  }
  p {
    color: $text-grey;
  }
}

.head__welcome-sticker {
  position: absolute;
  top: 1rem;
  left: -.5rem;
  background: url("../images/plate.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  color: #ffffff;
  text-transform: uppercase;
  padding: 2rem 2rem 2.5rem;
  z-index: 1;
}

.centered-section-title-wrapper {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  text-align: center;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: 1px;
    z-index: -1;
    border-top: 2px solid #cccccc;
  }
}

.centered-section-title {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  color: $main-dark;
  font-family: PT Serif, serif;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ffffff;
  padding: 0 .5rem;
}

.main-section-title-wrapper {
  margin-bottom: 2rem;
}

.main-section-title {
  font-size: 3rem;
  text-align: center;
}

.loop__item {
  .card__box, .team-card__box {
    margin-bottom: 2rem;
  }
  &:last-child .card__box {
    margin-bottom: 0;
  }
}

.card__wrapper {
  width: 100%;
  a:hover {
    .card__box, .card__row-box {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
    }
    .card__title, .card__row-title {
      color: $main-red;
    }
  }
}

.card__box {
  transition: all .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .05);
  &.current_item {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
    .card__title {
      color: $main-red;
    }
  }
}

.card__thumbnail {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    padding-bottom: 56%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-background-size: cover !important;
    background-size: cover !important;
  }
}

.card__description, .card__row-description {
  padding: 1rem;
}

.card__title, .card__row-title {
  font-family: PT Serif, serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $main-dark;
  font-weight: 600;
  margin-bottom: .5rem;
  transition: all .3s;
}

.card__excerpt {
  font-size: 1rem;
  color: $text-grey;
  line-height: 1.5;
}

.card__row-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  transition: all .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .05);
}

.card__row-thumbnail {
  position: relative;
  width: 200px;
  margin-right: 2rem;
  &::before {
    content: '';
    display: block;
    padding-bottom: 56%;
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.card__row-excerpt {
  font-size: 1rem;
  color: $main-dark;
}

.card__row-date {
  font-size: .8rem;
  color: $text-grey;
}

.team-card__wrapper {
  height: 100%;
  width: 100%;
  a:hover {
    .team-card__box {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
    }
    .team-card__title {
      color: $main-red;
    }
  }
}

.team-card__box {
  height: calc(100% - 2rem);
  flex-direction: column;
  transition: all .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .05);
}

.team-card__thumbnail {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    padding-bottom: 136%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-background-size: cover !important;
    background-size: cover !important;
  }
}

.team-card__description {
  padding: 1rem;
}

.team-card__title {
  font-family: PT Serif, serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $main-dark;
  font-weight: 600;
  margin-bottom: .5rem;
  transition: all .3s;
}

.team-card__excerpt {
  font-size: 1rem;
  color: $text-grey;
  line-height: 1.5;
}

.services-grid__container {
  padding: 2rem 0;
  & > div {
    margin-bottom: 2rem;
  }
  a:hover {
    .services-grid__item {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, .1);
    }
    .services-grid__item-title {
      color: $main-red;
    }
  }
}

.services-grid__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  transition: all .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .05);
}

.services-grid__item-thumbnail {
  display: block;
  width: 10rem;
  img {
    width: 100%;
  }
}

.services-grid__item-title {
  font-family: PT Serif, serif;
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 12rem;
  text-align: center;
  color: $main-dark;
  transition: all .3s;
}

footer {
  background-color: $main-dark;
}

.footer__container {
  position: relative;
  width: 86%;
  margin: auto;
  padding: 2rem 0;
}

.footer__social {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  .footer__social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  a {
    color: #ffffff;
    font-weight: 600;
    transition: color .3s;
  }
  a:hover {
    color: $main-green;
    i {
      color: $main-green;
    }
  }
  i {
    font-size: 1.5rem;
    line-height: 1;
    color: #ffffff;
    transition: .3s;
    margin: 0 0 0 1rem;
  }
}

.footer__policy {
  a {
    color: #ffffff;
    font-weight: 600;
    transition: color .3s;
    font-size: 1rem;
  }
  a:hover {
    color: $main-green;
    i {
      color: $main-green;
    }
  }
}

.footer__anagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  img {
    width: 50px;
    height: auto;
  }
}

.footer__copyright {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1rem;
  a {
    color: #ffffff;
    transition: color .3s;
  }
  a:hover {
    color: $main-green;
  }
}

.footer__address {
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
}

.footer__centered {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.service__archive-wrapper {
  padding: 2rem 0;
}

.service__article {
  video {
    width: 100%;
    height: auto;
  }
}

.service__order {
  a {
    display: block;
    width: 100%;
  }
  a:hover {
    border: 1px solid $main-green;
  }
}

.services__price-table, .working-hours__table {
  background-color: $light-blue;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
  table {
    width: 100%;
    thead {
      tr {
        :last-child {
          text-align: right;
        }
        th {
          padding: .5rem 0;
          font-size: 1rem;
          font-family: PT Serif, serif;
          border-bottom: 2px solid $light-grey;
          color: $main-dark;
        }
      }
    }
    tbody {
      tr {
        td:last-child {
          text-align: right;
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
        td {
          padding: .5rem 0;
          font-size: 1rem;
          border-bottom: 1px solid $light-grey;
          color: $text-grey;
        }
        th {
          position: relative;
          padding: 2rem 0;
          text-align: left;
        }
        .services__table-subtitle {
          position: absolute;
          top: 50%;
          left: -2rem;
          margin-top: -1rem;
          background: url("../images/plate_body.png") no-repeat center right;
          background-size: cover;
          .services__table-subtitle-text {
            display: block;
            font-size: 1rem;
            font-family: PT Serif, serif;
            color: #ffffff;
            padding: .5rem 1rem;
          }
          &::before {
            content: '';
            position: absolute;
            left: -10px;
            top: 0;
            background: url("../images/plate_start.png") no-repeat center left;
            background-size: contain;
            width: 1rem;
            height: 130%;
          }
        }
      }
    }
  }
}

.service__coll-to-action {
  padding: 1rem 0;
}

.working-hours__table {
  table {
    thead {
      tr {
        th:last-child {
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        td:last-child {
          text-align: left;
        }
      }
    }
  }
}

.working-hours__table-title {
  font-size: 1.5rem;
  font-family: PT Serif, serif;
  color: $main-dark;
  font-weight: 600;
}

.equal-width-cols {
  width: 100%;
  min-width: 650px;
  table-layout: fixed;
  td {
    width: 100%;
  }
}

.history-back__block {
  box-shadow: $box-shadow;
  width: 100%;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
  vertical-align: baseline;
  i {
    font-size: 1rem;
    color: $main-dark;
  }
  a {
    color: $main-dark;
    font-family: PT Serif, serif!important;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.archive-wrapper {
  padding: 2rem 0;
}

.doctor__photo {
  img {
    width: 100%;
    height: auto;
  }
}

.doctor__name {
  h1 {
    font-size: 3rem;
  }
}

.doctor__specialisation {
  font-size: 1rem;
  color: $main-red;
  padding-bottom: 1rem;
}

.doctor__appointment {
  margin-bottom: 1rem;
}

.contacts__map-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contacts__map-item {
  display: flex;
  flex: 1 0 auto;
  &>div {
    display: flex;
    flex: 1 0 auto;
  }
}

.contacts__info-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts__info-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  font-size: 1rem;
  color: $main-dark;
  font-family: PT Serif, serif;
  a {
    font-family: PT Serif, serif;
    color: $main-dark;
    transition: color .3s;
  }
  a:hover {
    color: $main-red;
  }
}

.contacts__info-address {
  margin-bottom: 1rem;
}

.contacts__info-email {
  margin-bottom: 1rem;
}

.contacts__info-phone {
  margin-bottom: 2rem;
}

.map-wrapper {
  position: relative;
}

.map-wrapper::before {
  content: '';
  display: block;
  padding-bottom: 56%;
}

.wpcf7-text {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: .5rem;
  font-family: PT Serif, serif;
  outline: none;
  border: 1px solid #CCCCCC;
  width: 100%;
}

.wpcf7-textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: PT Serif, serif;
  resize: none;
  outline: none;
  border: 1px solid #CCCCCC;
}

.wpcf7-response-output, .wpcf7-not-valid-tip {
  font-size: 1rem;
}

.form-note {
  font-size: .9rem;
  font-family: PT Serif, serif;
  color: $main-dark;
  padding: 2rem 0 0;
}

@import "tablet";
@import "mobile";
